@import 'styles/variables.module';

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    &_content {
        &, & * {cursor: pointer}
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 55px;
        border: 0.3vw solid $second-color;
        width: 14vw;
        height: 4vw;
    }
    &_animation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: Logo 3s ease-in-out forwards;
        @keyframes Logo {
            0%, 75% {
                height: 100vh;
            }
            100% {
                height: 4vw;
            }
        }
        &_content {
            &, & * {cursor: pointer}
            display: flex;
            justify-content: center;
            align-items: center;
            animation: LogoContent 4s ease-in-out forwards;
            @keyframes LogoContent {
                0%, 20% {
                    border: 0.5vw solid $second-color;
                    width: 11vw;
                    height: 3.5vw;
                }
                30%, 40% {
                    border: 0.5vw solid $second-color;
                    background-color: $second-color;
                    width: 11vw;
                    height: 3.5vw;
                }
                50%, 80% {
                    border: 0.5vw solid $second-color;
                    background-color: $second-color;
                    width: 100vw;
                    height: 4vw;
                }
                100% {
                    border: 0.5vw solid transparent;
                    background-color: transparent;
                    width: 11vw;
                    height: 4vw;
                }
            }
        }
    }
}