@import 'styles/variables.module';
@import 'public/fonts';

.logo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Logo 3s ease-in-out forwards;
    @keyframes Logo {
        0%, 75% {
            height: 100vh;
        }
        100% {
            height: 5vw;
        }
    }
    &_content {
        animation: LogoContent 4s ease-in-out forwards;
        @keyframes LogoContent {
            0%, 20% {
                border: 0.4em solid $second-color;
            }
            30%, 40% {
                border: 0.4em solid $second-color;
                background-color: $second-color;
            }
            50%, 80% {
                border: 0.4em solid $second-color;
                background-color: $second-color;
                width: 100%;
            }
            100% {
                height: 100%;
            }
        }
    }
}