@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

@font-face {
    font-family: 'SofiaProSoft-Bold';
    src: url('./SofiaProSoft/SofiaProSoft-Bold.eot');
    src: url('./SofiaProSoft/SofiaProSoft-Bold.eot?#iefix') format('embedded-opentype'), url('./SofiaProSoft/SofiaProSoft-Bold.woff') format('woff'), url('./SofiaProSoft/SofiaProSoft-Bold.ttf') format('truetype');
}