@import 'styles/variables';

*,
*::after,
*::before {
    cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $first-color;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
}

*::selection {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: $first-color-opacity;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: $first-color;
}

body {
    margin: 0;
    background-color: $third-color;
    overflow-x: hidden;
    overflow-y: hidden;
    &.scroll {
        overflow-y: auto!important;
    }
    main {
        position: relative;
        z-index: 1;
        top: 0;
        animation: PageContent 4s ease-in-out forwards;
        @keyframes PageContent {
            0%, 75% {
                opacity: 0;
                top: -5vw;
            }
            100% {
                opacity: 1;
            }
        }
        #page-content {
            padding: 124px 30px 0 30px;
        }
    }
}