@import 'styles/variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $first-color;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: $third-color;
    main {
        position: relative;
        z-index: 1;
        animation: Main 4s ease-in-out forwards;
        @keyframes Main {
            0%, 75% {
                opacity: 0;
                transform: translateY(-94px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        #page-content {
            padding: 124px 30px 30px 30px;
        }
    }
}