@import 'styles/variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $first-color;
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

body {
    margin: 0;
    background-color: $third-color;
    main {
        position: relative;
        z-index: 1;
        animation: Main 4s linear forwards;
        @keyframes Main {
            0%, 75% {
                opacity: 0;
                transform: scale(0);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}