@import 'styles/variables.module';

.home {
    position: relative;
    min-height: 100vh;
    &_previewScreen {
        width: 100%;
        height: calc(100vh - 7vw);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        &_arrow {
            &, & * {cursor: pointer}
            width: 33.33333%;
            flex: 1 1 auto;
            opacity: 0.6;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: opacity 0.2s ease-in-out;
            &_title {
                font-weight: 700;
                font-size: 2vw;
            }
            &:hover {
                opacity: 1;
            }
        }
        &_content {
            padding: 0 2em;
            &_title {
                line-height: 1.2;
                font-weight: 700;
                font-size: 3vw;
                margin-bottom: 0.5em;
            }
            &_subtitle {
                font-size: 1.5vw;
                opacity: 0.9;
                line-height: 1.4;
                inline-size: 38vw;
                overflow-wrap: break-word;
            }
        }
    }
    &_info {
        margin: 2vw 0 4vw 0;
        position: relative;
        &_row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        &_whatWeUse {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            &_text {
                font-size: 3vw;
                font-weight: 700;
                line-height: 1;
                margin-bottom: 0.75em;
                padding: 0 2.5vw;
            }
            &_icons {
                display: grid;
                grid-template-columns: repeat(5, 0fr);
                gap: 3vw;
                padding: 0 0.5vw;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &, & * {cursor: pointer}
                    svg {
                        position: relative;
                        top: 0;
                        transform: scale(1);
                        transition: transform 0.2s ease-in-out, top 0.2s ease-in-out;
                        &:hover {
                            top: -0.5vw;
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
    &_portfolioScreen {
        position: relative;
        left: -2vw;
        z-index: 1;
        width: 100vw;
        height: calc(100vh - 5vw);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $second-color;
        &_background {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1vw 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(7, 0fr);
            gap: 2.5vw; 
            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &_block {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10vw;
                height: 10vh;
                border: 0.15vw solid $first-color-opacity;
                border-radius: 0.5vw;
                animation: BackgroundBlocks 4s linear infinite;
                @keyframes BackgroundBlocks {
                    0% {
                        transform: translateX(0);
                    }
                    100% {
                        transform: translateX(calc(100% + 2.5vw));
                    }
                }
                &[id='1']::after, &[id='8']::after, &[id='15']::after, &[id='22']::after, &[id='29']::after {
                    content: '';
                    position: absolute;
                    top: -0.1vw;
                    right: calc(10vw + 2.4vw);
                    width: 10vw;
                    height: 10vh;
                    border: 0.15vw solid $first-color-opacity;
                    border-radius: 0.5vw;
                }
                &[id='7']::after, &[id='14']::after, &[id='21']::after, &[id='28']::after, &[id='35']::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: calc(10vw + 2.35vw);
                    width: 10vw;
                    height: 10vh;
                    border: 0.15vw solid $first-color-opacity;
                    border-radius: 0.5vw;
                }
            }
        }
        &_title {
            font-weight: 700;
            font-size: 3vw;
            opacity: 0.5;
            margin-bottom: 0.3em;
        }
        &_subtitle {
            font-weight: 700;
            font-size: 3vw;
            margin-bottom: 0.2em;
        }
        &_text {
            text-align: center;
            font-size: 1.5vw;
            opacity: 0.9;
            line-height: 1.4;
            inline-size: 38vw;
            overflow-wrap: break-word;
        }
    }
}

@media screen and (max-width: 1002px) {
    .home {
        display: none;
    }
}